<div>
    Page 2
    <div>
        <app-entete></app-entete>
    </div>
    <div class="flex-container">
        <div>
            <app-recherche></app-recherche>
        </div>
        <div>
            <div>
                <app-carousel></app-carousel>
            </div>
            <div>
                <app-hero [hero]="hero1"></app-hero>
                <app-hero [hero]="hero2"></app-hero>
                <app-hero [hero]="hero3"></app-hero>
                <app-hero [hero]="hero4"></app-hero>
                <app-hero [hero]="hero5"></app-hero>
            </div>
        </div>
    </div>
    <div>
        <app-pied-page></app-pied-page>
    </div>
</div>